a[target="_top"] {
    background-color: green;
}

.small .large {
    background-color: burlywood;
    
}

.small.large {
    background-color: aqua;
    color: blueviolet;
   
}

div{
    background-color: brown;
    max-width: 100px;
    height: 60px;
}

div.p{
    background-color: aquamarine;
}